<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basemvp">

    <!--   android9.0系统默认禁止http协议，即禁止明文传输，必须使用https来通讯
    解决办法:
    1. 将http请求改为https请求
    2. 添加usesCleartextTraffic属性
    -->
    <application
        android:name="com.base.common.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MVP总结工具集合"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.show_dialog.ShowDialogActivity" />
        <activity android:name=".main.mvp_room.MvpRoomActivity" />

        <activity android:name=".main.coordinator.CoordinatorActivity" />
        <activity android:name=".main.coordinator.coordinator1.Coordinator1Activity" />

        <activity android:name=".main.item_animation.ItemAnimationMainActivity" />
        <activity android:name=".main.item_animation.item_animation1.ItemAnimation1Activity" />
        <activity android:name=".main.item_animation.item_animation2.ItemAnimation2Activity" />
        <activity android:name=".main.item_animation.item_animation3.ItemAnimation3Activity" />

        <activity android:name=".main.fragment_example.FragmentExampleActivity" />
        <activity
            android:name=".main.fragment_example.show_fragment.ControlFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.fragment_example.vp_fragment.VP2FragmentActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".main.special_rc.SpecialRCActivity" />
        <activity android:name=".main.special_rc.damping_rc.DampingRCActivity" />
        <activity android:name=".main.special_rc.gallery.GalleryActivity" />
        <activity android:name=".main.special_rc.qq_album.QQAlbumActivity" />
        <activity android:name=".main.special_rc.scrollto_rc.ScrollToRCActivity" />

        <!-- 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>